.loader {
  position: absolute;
  transform: translate(-50%, -50%);

  top: 50%;
  left: 50%;
}

.castList {
  display: flex;
  flex-wrap: wrap;
}

.castItem {
  flex-basis: calc(100% / 5 - 20px);
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.titleCast {
  text-align: center;
  color: white;
}

.link {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-left: 51px;
  padding-right: 51px;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.item {
  margin-bottom: 30px;
  margin-right: 30px;
}
