.card {
  width: 280px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  overflow: hidden;

  transition: all 0.5s ease-out;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 23px 5px rgba(85, 174, 255, 0.4);
}

.content {
  padding: 15px;
}

.title {
  color: #309cff;
  margin-top: 10px;
}

img {
  display: block;
  width: 280px;
  border-radius: 5px;
  height: 400px;
}
