.Headerbar {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  width: 100vw;
  max-width: 100%;
  max-height: 64px;
  padding-right: 24px;
  padding-left: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fff;
  background-color: #161b22;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.nav {
  display: flex;
  justify-content: start;
  align-items: center;
}

.link {
  text-decoration: none;
  margin-right: 50px;
  color: white;
  font-size: 20px;
}

.link:hover {
  color: #309cff;
}
