.card {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.thumb {
  margin-right: 30px;
}

.content {
  padding: 15px;
}

.title {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  color: #309cff;
  margin-top: 10px;
  border-radius: 6px;
  background-color: black;
  width: auto;
}

.slogan {
  color: #309cff;
  margin: 0;
  font-family: monospace;
  /* font-style: italic; */
}

.text {
  color: white;
}

.overview {
  color: #309cff;
}

.img {
  width: 350px;
  display: block;
  height: auto;
  border-radius: 5px;
}
