.loader {
  position: absolute;
  transform: translate(-50%, -50%);

  top: 50%;
  left: 50%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trailerText {
  color: white;
}

.titleTrailer {
  color: white;
  text-align: center;
}
