.loader {
  position: absolute;
  transform: translate(-50%, -50%);

  top: 50%;
  left: 50%;
}
.wrapper {
  padding: 0 40px;
}
.trailerText {
  color: white;
}

.trailerBox {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.trailerBox iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}
.titleTrailer {
  color: white;
  text-align: center;
}
